
.container, table {
    padding-top: 50px;
    background:  #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
.nav-text {
    color:black;
    display: flex;
    justify-content: center;
}

thead, tbody, tr, td {
    border: 1px solid grey;
  }

.formBox,.subBox {
    display: flex;
    justify-content: center; 
}